@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr1: #0425ff;
  --clr2: #1a1a1a;
  --clr3: #004775;
  --clr4: rgb(0, 0, 0);
  --clr5: #fff;
  --title-font: 'Audiowide', serif;
  --main-font: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
  margin: auto;
  width: 100%;
  font-family: var(--main-font);
  font-size: 1rem;
  line-height: 1.5em;
}

main {
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
  max-width: 1400px;
}

#technologies, #portfolio, #contact {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

/* ----------- UTILITY CLASSES --------------*/

.marg-bot {
  margin-bottom: 1em;
}

.marg-top {
  margin-top: 1em;
}


.auto-left {
  margin-left: auto;
}

.auto-right {
  margin-right: auto;
}

/* -----------styling for header--------------*/

.header-container {
  background-color:rgba(0, 0, 0, 0.795);
  color: var(--clr5);
  font-family: var(--title-font);
  padding: 5px 0px;
  width: 100%;
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-container > h1 {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  padding: .3em 0;
  color: var(--clr5)
}

nav > ul {
  font-weight: 100;
  font-size: .9rem;
  list-style-type: none;
  display: flex;
  justify-content: center;

}

nav > ul > li {
  margin: 0px 8px;
  text-align: center;
}

.header-container a {
  color: var(--clr5);
  text-decoration: none;
  transition: all .25s;
  position: relative;
}

.header-container a:hover,
.header-container a:focus {
  color: var(--clr1);

}

.header-container a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
}

.header-container a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
/* ----------- END styling for header--------------*/

/* ----------- START styling for HERO--------------*/

.hero-spacer-box {
  height: 5rem;
  background-color: rgb(0, 0, 0);
}

.hero-container {
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px #000000a9;
}

.hero-image {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("./photos/coding2.jpg");
  padding-top: 18rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all .25s;
}

.hero-image:hover,
.hero-image:focus {
  max-height: 10rem;
  transform: scale(1.1);
  overflow: hidden;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr5);
}

.hero-text > h4 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 1em;
}

.hero-text > p {
  margin-top: 2em;
}



/* ----------- END HERO --------------*/

/* ----------- START NUTSHELL --------------*/

.nutshell {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
  margin: 4rem auto;
  box-shadow: 0px 0px 10px 10px #000000a9;
}

.nutshell h2, .nutshell p {
  margin: 1em;
}

.nutshell img {
  width: 100%;
  max-width: 600px;
}

/* ----------- END NUTSHELL --------------*/

/* ----------- START TECHNOLOGIES LIST --------------*/


.bkg-clr-1 {
  background-color: var(--clr2);
  margin-bottom: 4rem;
  box-shadow: 0px 0px 10px 10px #000000a9;
}

.technologies-header,
.portfolio-header {
  background-color: var(--clr3);
  color: var(--clr5);
  font-family: var(--title-font);
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 1em 0;
  margin: 2em 0;
}

.tech-list {
  /* border: white dotted 1px; */
  list-style-type: none;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-list > li {
  /* border: white solid 1px; */
  color: var(--clr5);
  padding: 12px;
  margin-bottom: 2rem;
  list-style-position: inside;
  width: 35%;
  min-width: 6rem;
  display: flex;
  flex-direction: column;

}

li > span {
  /* border: white dotted 2px; */
  padding-top: 1rem;
}


.img-wrapper {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  margin: auto auto;
  max-width: 9rem;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px #a2a2a28e;
  transition: .25s ease-in-out
}

.img-wrapper:hover {
  box-shadow: 0px 0px 15px 15px #a2a2a2c2;
  transform: scale(1.1);
  transform: translate(0, -.5rem)
}

.logo-img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  border: 0 none;
  text-decoration: none;
  display: block;
}

.zoom-out {
transform: scale(.80)
}

.less-zoom-in {
  transform: scale(1.2)
}

.zoom-in {
  transform: scale(1.3)
}

.more-zoom-in {
  transform: scale(1.36)
}

/* ----------- END TECHNOLOGIES --------------*/

/* ----------- START PORTFOLIO LIST --------------*/

.bkg-clr-2 {
  background-color: var(--clr5);
}

.port-project {
  background-color: var(--clr2);
  color: var(--clr5);
  max-width: 700px;
  padding: 5%;
  margin: 2rem 5%;
  line-height: 1.5em;
  box-shadow: 0px 0px 10px 10px #0000007a;
}

.tags-container {
  /* border: white solid 2px; */
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tags-container > * {
background-color: #e3e3e3;
color: var(--clr4);
width: 7rem;
padding: 0 1em;
margin: .5em;
border-radius: 5px;
font-weight: 400;
transition: .2s ease-in-out
}
.tags-container > *:hover {
  background-color: #4e4e4e;
  font-weight: 400;
  color: var(--clr5);
  transform: scale(1.1);
  }

.port-project-title {
  font-size: 1.3rem;
  margin: 1em 0;
}

.img-hover-container {
  position: relative;
  width: 100%;
}

.portfolio-img {
  border: 1px rgb(121, 105, 105) solid;
  max-width: 100%;
  display: block;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover-text {
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.img-hover-container:hover .portfolio-img {
  opacity: 0.3;
}

.img-hover-container:hover .hover-text {
  opacity: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: space-evenly;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-weight: 600;
  font-size: .8rem;
  padding: .5em 1em;
  cursor: pointer;
  flex-basis: 100%;
  max-width: 8rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}


/* ----------- END PORTFOLIO LIST --------------*/


/* ----------- END styling for main--------------*/

/* ----------- START FOOTER --------------*/

footer {
  background-color: var(--clr4);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

footer > div {
  width: 25%;
  margin: 0 5%;
}

.footer-img-wrapper {
  background-color: white;
  margin: auto auto;
  max-width: 4.5rem;
  min-width: 2rem;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px #a2a2a265;
  transition:  all .25s ease-in-out;
}
.footer-img-wrapper:hover {
  box-shadow: 0px 0px 12px 12px #a2a2a28c;
  transform: scale(1.1);
  transform: translate(0, -.8rem)
}

/* ----------- END FOOTER --------------*/

/* -----------  Media Queries--------------*/


@media all and (min-width: 850px) {

/* ----------- START   HEADER - NUTSHELL --------------*/

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-container > h1 {
    font-size: 3rem;
    line-height: 1em;
  }

  .header-container > nav > ul > li {
    padding-left: 1em;
    font-size: 1.3rem;
  }

  .hero-spacer-box {
    height: 7rem;
  }

  .hero-image {
    padding-top: 18rem;
    height: 20rem;
  }

  .hero-image:hover,
  .hero-image:focus {
    max-height: 20rem;
  }
  
  .hero-text > h4 {
    font-size: 1.5rem;
  }
  
  .hero-text > p {
    font-size: 1.2rem;
    margin-top: 2em;
  }

  .nutshell {
    margin: 8rem auto;
    padding: 3rem 0;
  }

  .nutshell > article {
    /* outline: white solid 2px; */
    text-align: left;
    line-height: 2em;
    margin: auto auto;
    max-width: 45ch;
  }

  .nutshell h2, .nutshell p {
    /* outline: white solid 2px; */
    margin: 1em 0;
  }
  .nutshell p {
    max-width: 45ch;
    font-size: 1.2rem;
  }

/* ----------- END --------------*/


  /* ----------- START TECHNOLOGIES --------------*/
 

  .tech-list {
    /* border: white solid 2px; */
    padding: 4rem 8%;
  }
  
  .tech-list > li {
    margin-bottom: 3rem;
    padding: 10px;
    max-width: 30%;
  }

  .img-wrapper {
    margin: auto auto;
    max-width: 10rem;
    margin-bottom: .5rem;
  }

  li > span {
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .technologies-header, .portfolio-header {
    font-size: 1.7rem;
  }
  /* ----------- END --------------*/


  /* ----------- START PORTFOLIO --------------*/

  .portfolio-header {
    margin-top: 5em;
    margin-bottom: 1em;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .group > * {
    flex-basis: 100%;
    margin: auto auto;
  }

  .port-project {
    padding: 3%;
    margin: 3% 1.5rem;
    line-height: 2em;
    max-width: 700px;
  }

  .port-project > p {
    margin: 1em auto;
    font-size: 1.1rem;
    max-width: 45ch;
    height: 10em;
  }

  .tags-container {
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tags-container > * {
    padding: 0px;
    margin: .8em;
    border-radius: 8px;
    width: 20%;
    min-width: 7rem;
  }


  .hover-text {
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    display: none;
  }

  .text {
    font-size: 1.2rem;
    min-width: 9rem;
    max-width: 35%;
    padding: 16px 25px;
    cursor: pointer;
  }





  img {
    width: 100%;
    max-width: 700px;
  }
  
  footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem 15%;
  }

  .hidden {
    display: none;
  }

  /* ----------- END --------------*/
}

@media all and (min-width: 1400px) {
  .tech-list > li {
    margin-bottom: 4rem;
  }

  .img-wrapper {
    max-width: 11rem;
  }

  .hero-spacer-box {
    height: 6rem;
    background-color: #000000;
  }

  .hero-image {
    padding-top: 18rem;
    height: 25rem;
  }

  .hero-image:hover,
  .hero-image:focus {
    max-height: 25rem;
  }
}

/* -----------  END Media Queries--------------*/