* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr1: #b82601;
  --clr2: #062f4f;
  --clr3: #813772;
  --clr4: #000;
  --clr5: #fff;
}

body {
  /* border: 1px solid black; */
  font-family: sans-serif;
  background-color: fff;
  margin: auto;
  padding: 0px;
  width: 100%;
  font-size: 1rem;
}

main {
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
  max-width: 1500px;
}

#technologies, #portfolio, #contact {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* ----------- UTILITY CLASSES --------------*/

.marg-bot {
  margin-bottom: 1rem;
}

.marg-top {
  margin-top: 1rem;
}

.auto-left {
  margin-left: auto;
}

.auto-right {
  margin-right: auto;
}

/* -----------styling for header--------------*/

body > header {
  position: fixed;
  background-color:rgba(0, 0, 0, 0.795);
  padding: 5px 0px;
  width: 100%;
  z-index: 5;
  color: var(--clr5);
  border-bottom: var(--clr4);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-container > h1 {
  font-size: 2rem;
  text-align: center;
  padding: .5rem 0;
  color: var(--clr5)
}

nav > ul {
  /* outline: black 2px dashed; */
  list-style-type: none;
  display: flex;
  justify-content: center;

}

nav > ul > li {
  font-size: 1rem;
  padding: 5px;
  margin: 0px 8px;
  text-align: center;
}

nav > ul > li > a, h1 > a {
  color: var(--clr5);
  text-decoration: none;
  transition: all .25s;
  position: relative;
}

nav > ul > li > a:hover, h1 > a:hover {
  color: var(--clr1);

}
nav > ul > li > a::before, h1 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
}

nav> ul > li > a:hover::before, h1 > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
/* ----------- END styling for header--------------*/

/* ----------- START styling for HERO--------------*/

.hero-spacer-box {
  height: 5rem;
  background-color: black;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./photos/hero.jpg");
  height: 10rem;
  padding-top: 12rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition: all .25s;
}

.hero-image:hover {
  height: 10rem;
  overflow: hidden;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr5);
  overflow: hidden;
}


/* ----------- END HERO --------------*/

/* ----------- START NUTSHELL --------------*/

.nutshell {
  background-color: var(--clr5);
  /* border: red solid 2px; */
  padding: 1rem;
  margin: 2rem auto;
  max-width: 700px;
}

.nutshell h2, .nutshell p {
  margin: 1rem;
  line-height: 1.3rem;
}

.nutshell img {
  width: 100%;
  max-width: 600px;
}

/* ----------- END NUTSHELL --------------*/

/* ----------- START TECHNOLOGIES LIST --------------*/

.bkg-clr-1 {
  background-color: var(--clr2);
}

.technologies-header {
  padding: 2rem 0;
  color: var(--clr5)
}

.tech-list {
  list-style-type: none;
  margin: 0 5%;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-list > li {
  /* border: white solid 1px; */
  color: var(--clr5);
  margin: auto auto;
  margin-bottom: 1rem;
  list-style-position: inside;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* li > span {
  border: white dotted 2px;
} */


.img-wrapper {
  /* border: 2px solid rgb(0, 0, 0); */
  background-color: white;
  margin: auto auto;
  min-width: 5rem;
  max-width: 9rem;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.logo-img {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  border: 0 none;
  text-decoration: none;
  display: block;
}

.zoom-out {
transform: scale(.80)
}

.less-zoom-in {
  transform: scale(1.2)
}

.zoom-in {
  transform: scale(1.3)
}

.more-zoom-in {
  transform: scale(1.36)
}

/* ----------- END TECHNOLOGIES --------------*/

/* ----------- START PORTFOLIO LIST --------------*/

.bkg-clr-2 {
  background-color: var(--clr5);
}

.portfolio-header {
  /* border: white dotted 1px; */
  padding-top: 2rem;
}

.port-project {
  background-color: var(--clr2);
  color: var(--clr5);
  width: 85%;
  max-width: 750px;
  padding: 5%;
  margin: 2rem auto;
}

.img-hover-container {
  position: relative;
  width: 100%;
}

.portfolio-img {
  border: 1px black solid;
  max-width: 100%;
  display: block;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover-text {
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.img-hover-container:hover .portfolio-img {
  opacity: 0.3;
}

.img-hover-container:hover .hover-text {
  opacity: 1;
  display: flex;
  justify-content: space-around;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-weight: 600;
  font-size: .8rem;
  padding: 8px 16px;
  cursor: pointer;
  width: 40%;
  max-width: 8rem;
}

.port-project p {
  margin-top: 1rem;
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

.order {
  order: 1;
}

/* ----------- END PORTFOLIO LIST --------------*/

/* ----------- START CONTACT --------------*/

.contact {
  /* outline: red solid 2px; */
  padding-top: 30px;
  text-align: left;
  padding-left: 30px;
}

#name, #user-email, textarea {
  width: 40%;
  margin-bottom: 15px;
}

form > label, button {
  display: block;
  margin-bottom: 3px;
}



/* ----------- END CONTACT --------------*/

/* ----------- END styling for main--------------*/

/* ----------- START FOOTER --------------*/

footer {
  background-color: var(--clr4);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

footer > div {
  width: 25%;
  margin: 0 5%;
}

.footer-img-wrapper {
  /* border: 2px solid rgb(0, 0, 0); */
  background-color: white;
  margin: auto auto;
  max-width: 4.5rem;
  min-width: 2rem;
  overflow: hidden;
  border-radius: 50%;
}

/* ----------- END FOOTER --------------*/

/* -----------  Media Queries--------------*/


@media all and (min-width: 900px) {

/* ----------- START HEADER-NUTSHELL --------------*/

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-container > h1 {
    padding-left: 10%;
    font-size: 2.5rem;
  }

  .header-container > nav {
    padding-right: 10%;
  }

  header nav a {
    font-size: 18px;
  }

  .hero-image {
    height: 20rem;
    padding-top: 12rem;
    background-position: center;
  }

  .hero-image:hover {
    height: 20rem;
    overflow: hidden;
  }

  .nutshell {
    background-color: var(--clr5);
    /* border: red solid 2px; */
    padding: 1rem;
    margin: 2rem auto;
    max-width: 100%;
  }

  .nutshell h2, .nutshell p {
    margin: 1rem;
    text-align: left;
    line-height: 1.8rem;
    max-width: 45ch;
  }

/* ----------- END --------------*/


  /* ----------- START TECHNOLOGIES --------------*/
  

  .tech-list {
    /* border: white solid 2px; */
    list-style-type: none;
    margin: 0 5%;
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tech-list > li {
    color: var(--clr5);
    margin: auto auto;
    margin-bottom: 3rem;
    padding: 5px;
    list-style-position: inside;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-wrapper {
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: white;
    margin: auto auto;
    max-width: 10rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: .5rem;
  }

  .technologies-header, .portfolio-header {
    font-size: 1.8rem;
  }
  /* ----------- END --------------*/


  /* ----------- START PORTFOLIO --------------*/

  .hover-text {
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    display: none;
  }

  .text {
    font-size: 1.2rem;
    min-width: 9rem;
    max-width: 35%;
    padding: 16px 25px;
    cursor: pointer;
  }

  .port-project > p {
    margin-top: 2rem;
    font-size: 1.1rem;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .item {
    flex: 1;
    margin: 10px;
  }

  img {
    width: 100%;
    max-width: 700px;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }

  footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem 15%;
  }

  .hidden {
    display: none;
  }

  /* ----------- END --------------*/
}

@media all and (min-width: 1400px) {
  .tech-list > li {
    margin-bottom: 4rem;
  }

  .img-wrapper {
    max-width: 12rem;
  }

  .hero-image {
    height: 25rem;
    padding-top: 14rem;
    background-position: center;
  }

  .hero-image:hover {
    height: 25rem;
    overflow: hidden;
  }
}

/* -----------  END Media Queries--------------*/